@using OnlineFoodOrderingSystem.ViewModels

@{
    ViewBag.Title = "Basket";
}

@model List<ProductDetails>


<div class="row justify-content-center">
    <div class="col-md-10">
        <div class="card">
            <div class="card-header card-header-warning">
                <h4 class="card-title">Your Basket</h4>
            </div>
            <div class="card-body">
                <!--   TODO: No items in your basket. -->
                <form action="/Orders/AddOrder/" method="post">
                    <div class="form-group">
                        <div id="fh5co-menus" data-section="menu">
                            <div class="container">
                                <div class="row row-padded">
                                    <div class="col-md-12">
                                        <div class="fh5co-food-menu to-animate-2">
                                            <ul>
                                                @foreach (ProductDetails basketItem in Model)
                                                {
                                                    <li>
                                                        <div class="fh5co-food-desc">
                                                            <figure>
                                                                <img src="https://media.istockphoto.com/photos/varied-food-carbohydrates-protein-vegetables-fruits-dairy-legumes-on-picture-id1218254547?b=1&k=6&m=1218254547&s=170667a&w=0&h=EXwwoHJ3wI0H2jDfoFhqOiIo2c4cL0y7R8Gop3iIO30=" class="img-responsive" alt="productPhoto">
                                                            </figure>
                                                            <div>
                                                                <h3 style="color: #a99c92;">@basketItem.restaurantName</h3>
                                                                <h3>@basketItem.productName</h3>
                                                                <p>@basketItem.productDescription</p>
                                                            </div>
                                                        </div>
                                                        <div class="fh5co-food-pricing">
                                                            <p id="productPrice">$@basketItem.productPrice</p>
                                                            <br />
                                                            <input class="form-contro" type="number" id="productQuantity" name="quantity" min="1" max="10" value="1">
                                                        </div>
                                                    </li>
                                                }
                                            </ul>
                                            <!--   TODO: Fix the UI here. -->
                                            <div class="fh5co-food-desc">
                                                <figure>
                                                    <img />
                                                </figure>
                                                <div>
                                                    <h3></h3>
                                                    <h3></h3>
                                                    <p data-totalPriceId="calcTotal" id="calcTotalPrice"></p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-warning pull-right">Confirm Order</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>



@section scripts
{
    <script>
            /*  TODO: Fix the Calc function.  */
            function Calc()
            {
                var totalPrice = 0;
                var basket_item = document.querySelectorAll("li");

                for (var i = 0; i < rs.length; ++ i)
                {
                    var c = parseInt(basket_item[i].querySelector("#productQuantity").value);
                    var u = parseFloat(basket_item[i].querySelector("#productPrice").value);

                    totalPrice = totalPrice + (c * u);
                }

                /*totalPrice = totalPrice + (document.getElementById("productQuantity").value * document.getElementById("productPrice"));*/

                return "Total Price: " + totalPrice;
            }

    </script>
}