@using OnlineFoodOrderingSystem.Models

@{
    ViewBag.Title = "Manage Cuisines";
}

@model List<Cuisine>

<div class="container-fluid">
    <div class="row  justify-content-center">
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header card-header-warning">
                    <h4 class="card-title">
                        Cuisines
                        <a href="/ManageCuisines/AddCuisine/">
                            <button type="button" rel="tooltip" title="Add Cuisine" class="btn btn-white btn-link btn-sm text-right">
                                <i class="material-icons">add</i>
                            </button>
                        </a>
                    </h4>
                    <p class="card-category">Last modified on 15th September, 2016</p>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead class="text-warning">
                        <th>ID</th>
                        <th>Name</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        </thead>
                        <tbody>
                            @foreach (Cuisine cuisine in Model)
                            {
                                <tr>
                                    <td>@cuisine.id</td>
                                    <td>@cuisine.cuisine_name</td>
                                    <td>
                                        <a href="/ManageCuisines/UpdateCuisine/@cuisine.id">
                                            <button type="button" rel="tooltip" title="Update Cuisine" class="btn btn-success btn-link btn-sm">
                                                <i class="material-icons">edit</i>
                                            </button>
                                        </a>
                                    </td>
                                    <td>
                                        <!-- Button trigger delete modal -->
                                        <button type="button" rel="tooltip" title="Delete Cuisine" class="btn btn-danger btn-link btn-sm" data-toggle="modal" data-target="#deleteCuisine">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </td>
                                </tr>

                                <!-- Delete Modal -->
                                <div class="modal fade" id="deleteCuisine" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="deleteModalLabel">Delete Card</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to delete the @cuisine.cuisine_name cuisine?
                                            </div>
                                            <div class="modal-footer">
                                                <form action="/ManageCuisines/DeleteCuisine/@cuisine.id" method="post">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <input type="submit" class="btn btn-danger" name="name" value="Yes" />
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

