@using OnlineFoodOrderingSystem.Models

@{
    ViewBag.Title = "Manage Restaurants";
}

@model List<Restaurant>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">
                        Addresses
                        <a href="/ManageRestaurants/AddRestaurant/">
                            <button type="button" rel="tooltip" title="Add Restaurant" class="btn btn-white btn-link btn-sm pull-right">
                                <i class="material-icons">add</i>
                            </button>
                        </a>
                    </h4>
                    <p class="card-category">Add a restaurant</p>
                </div>
                @foreach (Restaurant restaurant in Model)
                {
                    <div class="card mx-auto" style="width: 96%;">
                        <div class="card-body">
                            <h5 class="card-title">
                                @restaurant.restaurant_name
                                <a href="/ManageRestaurants/UpdateRestaurant/@restaurant.id">
                                    <button type="button" rel="tooltip" title="Edit Restaurant" class="btn btn-primary btn-link btn-sm">
                                        <i class="material-icons">edit</i>
                                    </button>
                                </a>

                                <!-- TODO: Fix the bag(when deleting, the id of first record is being used and the first record is deleted).
                                <!-- Button trigger delete modal -->
                                <button type="button" rel="tooltip" title="Delete Restaurant" class="btn btn-danger btn-link btn-sm" data-toggle="modal" data-target="#deleteRestaurant">
                                    <i class="material-icons">close</i>
                                </button>
                            </h5>
                            <!-- Delete Modal -->
                            <div class="modal fade" id="deleteRestaurant" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteModalLabel">Delete Restaurant</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete the @restaurant.restaurant_name?
                                        </div>
                                        <div class="modal-footer">
                                            <form action="/ManageRestaurants/DeleteRestaurant/@restaurant.id" method="post">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <input type="submit" class="btn btn-danger" name="name" value="Yes" />
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <form>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">city</label>
                                                <input type="text" class="form-control" value="@restaurant.city">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">town</label>
                                                <input type="text" class="form-control" value="@restaurant.town">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
